{
    "game_id": "GAMEzqJehF8yAnKiTARUuhZMvLvkZVAsCVri5vSfemLr",
    "profile_id": "11111111111111111111111111111111111111111111",
    "bots": [
        {
            "fleet_id": "11111111111111111111111111111111111111111111",
            "planet_id": "7jWrQYjfuHyQXVWfMyLireeukSpva99FvCLLxERCvT4U",
            "mine_item_id": "FpTUZKuviuGaww6ijjXdoeuJtFeEjabEXnzxRYHukhMx",
        }
    ]
}